<div class="footer">
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p class="text-center">
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script>2024 All rights reserved | This
                        template is made with <i class="fa-solid fa-heart" style="color: #f70202;"></i> by <a
                            href="#" target="_blank">Abdo Ibrahim</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>