<div class="container-fluid">
  <app-slider [topArticles]="topArticles"></app-slider>
  <div class="site-section mx-auto">
    <div class="row1 row my-5 mx-md-5">
      <div class="col-12 col-md-12 col-lg-8">
        <div class="row">
          <div class="section-title col-12">
            <h2>Sport</h2>
          </div>
          <div class="col-12 col-md-6">
            <div class="card mb-3 " *ngFor="let sport of sportArticles.slice(0, 1)">
              <img [src]="sport.urlToImage? sport.urlToImage:'../../assets/images/latestNews.jpg'"
                class="card-img-top" alt="...">
              <div class="card-body p-0">
                <h2 style="margin-top: 30px;"><a href="#">{{sport.title}}</a></h2>
                <p>{{sport.description}}</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">{{sport.author}}</a> in <a href="#">{{sport.source.name}}</a></span>
                  <span class="date-read">{{ sport.publishedAt | date:'MMM d' }} <span class="mx-1">•</span> {{sport.minutesAgo}} min read <span
                      class="fa-solid fa-star"></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card mb-3 col-12" *ngFor="let sport of sportArticles.slice(1, 4)">
              <div class="row g-0">
                <div class="col-4 img-height-small-screen" style="height: 150px;">
                  <img
                  [src]="sport.urlToImage? sport.urlToImage:'../../assets/images/latestNews.jpg'"
                  class="img-fluid custom-img-card" alt="...">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <div class="trend-contents">
                      <h2 class="card-title"><a href="#">{{sport.title}}</a></h2>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">{{sport.author}}</a> in <a href="#">{{sport.source.name}}</a></span>
                        <span class="date-read">{{ sport.publishedAt | date:'MMM d' }} <span class="mx-1">•</span> {{sport.minutesAgo}} min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="section-title col-12">
            <h2>Trending</h2>
          </div>
          <div class="col-12">
            <div class="card mb-3 col-12 numberd-card" *ngFor="let article of topArticles.slice(0,4); let i= index;">
              <div class="row col-12" style="height: 100%;">
                <div class="col-auto px-0 number align-self-start">
                  <p class="text-center">0{{i+1}}</p>
                </div>
                <div class="col p-0">
                  <div class="card-body p-0" style="height: 150px;">
                    <div class="trend-contents px-2">
                      <h2 class="card-title"><a href="{{article.url}}">{{article.title}}</a></h2>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">{{article.author}}</a> in <a href="#">{{article.source.name}}</a></span>
                        <span class="date-read">{{ article.publishedAt | date:'MMM d' }} <span class="mx-1">•</span> {{article.minutesAgo}} min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p>
              <a routerLink="/more" class="more">See All Trends <span class="fa-solid fa-angle-right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row2 row my-5 mx-md-5">
      <div class="card custom-card mx-md-auto my-5 " style="max-width: 100%;" *ngFor="let article of healthArticles.slice(0,1)">
        <div class="row g-0" style="height: 100%;">
          <div class="col-md-6 img-div" style="height: auto;">
            <img
            [src]="article.urlToImage? article.urlToImage:'../../assets/images/latestNews.jpg'"
            class="img-fluid" style="height: 100%; object-fit: fill;" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body" style="height: 100%; width: 100%; background-color: #f8f9fa;">
              <div class="contents">
                <span class="caption">Health</span>
                <h2><a href="{{article.url}}">{{article.title}}</a></h2>
                <p class="mb-3 details">{{article.title}}</p>
                <div class="post-meta">
                  <span class="d-block" style="color: #6c757d;"><a href="#">{{article.author}}</a> in <a
                      href="#">{{article.source.name}}</a></span>
                  <span class="date-read" style="color: #6c757d;">{{ article.publishedAt | date:'MMM d' }} <span class="mx-1"
                      style="color: #6c757d;">•</span> {{article.minutesAgo}} min read <span class="fa-solid fa-star"
                      style="color: #6c757d;"></span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row3 row my-5 mx-md-5">
      <div class="col-md-6 politics">
        <div class="section-title col-12">
          <h2>Politics</h2>
        </div>

          <div class="card mb-3 col-12" *ngFor="let politicArticle of politicArticles.slice(0,3)">
            <div class="row g-0">
              <div class="col-4 img-height-small-screen">
                <img
                [src]="politicArticle.urlToImage? politicArticle.urlToImage:'../../assets/images/business.jpg'  " 
                class="img-fluid custom-img-card" alt="...">
              </div>
              <div class="col-8">
                <div class="card-body">
                  <div class="trend-contents">
                    <h2 class="card-title"><a href="{{politicArticle?.url}}">{{politicArticle?.title}}</a></h2>
                    <p class="mb-3">{{politicArticle?.description}}</p>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">{{politicArticle.author? politicArticle.author : 'Unkonwn'}}</a> in <a href="#">{{politicArticle?.source.name}}</a></span>
                      <span class="date-read">{{ politicArticle.publishedAt | date:'MMM d' }}<span class="mx-1">•</span> {{politicArticle?.minutesAgo}} <span
                          class="fa-solid fa-star"></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        
        </div>

        <div class="col-md-6 business">
          <div class="section-title col-12">
            <h2>Business</h2>
          </div>
            
          <div class="card mb-3 col-12" *ngFor="let businessArticle of businessArticles.slice(0,3);">
            <div class="row g-0">
              <div class="col-4 img-height-small-screen">
                <img
                  [src]="businessArticle.urlToImage? businessArticle.urlToImage:'../../assets/images/business.jpg'  "
                  class="img-fluid custom-img-card" alt="...">
              </div>
              <div class="col-8">
                <div class="card-body">
                  <div class="trend-contents">
                    <h2 class="card-title"><a href="{{businessArticle.url}}">{{businessArticle.title}}</a></h2>
                    <p class="mb-3">{{businessArticle.description}}</p>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">{{businessArticle.author? businessArticle.author : 'Unkonwn'}}</a> in <a href="#">{{businessArticle.source.name}}</a></span>
                      <span class="date-read">{{ businessArticle.publishedAt | date:'MMM d' }} <span class="mx-1">•</span> {{businessArticle.minutesAgo}} min read <span
                          class="fa-solid fa-star"></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    <div class="row4 row my-5 mx-md-5">
      <div class="col-md-8">
        <div class="section-title col-12">
          <h2>Recent News</h2>
        </div>
        <div class="col-12" *ngFor="let article of topArticles | paginate: { itemsPerPage: pageSize, currentPage: page }">
          <div class="card mb-3 col-12">
            <div class="row g-0">
              <div class="col-8">
                <div class="card-body px-0">
                  <div class="trend-contents">
                    <h2 class="card-title"><a href="{{article.url}}">{{article.title}}</a></h2>
                    <p class="mb-3">{{article.description}}</p>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">{{article.author}}</a> in <a href="#">{{article.source.name}}</a></span>
                      <span class="date-read">{{ article.publishedAt | date:'MMM d' }} <span class="mx-1">•</span> {{article.minutesAgo}} min read <span
                          class="fa-solid fa-star"></span></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 img-height-small-screen" style="height: 220px;">
                <img
                  [src]="article.urlToImage? article.urlToImage:'../../assets/images/latestNews.jpg'"style="height: 100% !important;"
                  class="img-fluid custom-img-card" alt="...">
              </div>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>        
      </div>
      <div class="col-md-4">
        <div class="section-title col-12">
          <h2>Popular Posts</h2>
        </div>
        <div class="col-12">
          <div class="card mb-3 col-12 numberd-card" *ngFor="let article of popularArticles.slice(0,4); let i= index;">
            <div class="row col-12" style="height: 100%;">
              <div class="col-auto px-0 number align-self-start">
                <p class="text-center">0{{i+1}}</p>
              </div>
              <div class="col p-0">
                <div class="card-body p-0" style="height: 150px;">
                  <div class="trend-contents px-2">
                    <h2 class="card-title"><a href="{{article.url}}">{{article.title}}</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">{{article.author}}</a> in <a href="#">{{article.source.name}}</a></span>
                      <span class="date-read">{{ article.publishedAt | date:'MMM d' }} <span class="mx-1">•</span> {{article.minutesAgo}} min read <span
                          class="fa-solid fa-star"></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p>
            <a (click)="isCollapsed = !isCollapsed" class="more">See All Popular<span class="fa-solid fa-angle-right"></span></a>
          </p>
          <div *ngIf="!isCollapsed">
            <div class="card mb-3 col-12 numberd-card" *ngFor="let article of popularArticles.slice(4); let i= index;">
              <div class="row col-12" style="height: 100%;">
                <div class="col-auto px-0 number align-self-start">
                <p class="text-center">{{ (i+5) < 10 ? '0' + (i+5) : (i+5) }}</p>
                </div>
                <div class="col p-0">
                  <div class="card-body p-0" style="height: 150px;">
                    <div class="trend-contents px-2">
                      <h2 class="card-title"><a href="{{article.url}}">{{article.title}}</a></h2>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">{{article.author}}</a> in <a href="#">{{article.source.name}}</a></span>
                        <span class="date-read">{{ article.publishedAt | date:'MMM d' }} <span class="mx-1">•</span> {{article.minutesAgo}} min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <p *ngIf="!isCollapsed">
          <a (click)="isCollapsed = !isCollapsed" class="more">See Less <span class="fa-solid fa-angle-left"></span></a>
        </p>
    </div>
  </div>
  </div>
</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>