<div class="container-fluid px-5">
    <div class="row1 row my-5 mx-md-5">
        <div class="col-md-8">
          <div class="section-title col-12">
            <h2>Recent News</h2>
          </div>
          <div class="col-12" *ngFor="let item of items | paginate: { itemsPerPage: pageSize, currentPage: page }">
            <div class="card mb-3 col-12">
              <div class="row g-0">
                <div class="col-8">
                  <div class="card-body px-0">
                    <div class="trend-contents">
                      <h2 class="card-title"><a href="#">News Needs to Meet Its Audiences Where They Are</a></h2>
                      <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 img-height-small-screen" style="height: 220px;">
                  <img
                    [src]="item" style="height: 100% !important;"
                    class="img-fluid custom-img-card" alt="...">
                </div>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>        
        </div>
        <div class="col-md-4">
          <div class="section-title col-12">
            <h2>Popular Posts</h2>
          </div>
          <div class="col-12">
            <div class="card mb-3 col-12 numberd-card">
              <div class="row col-12" style="height: 100%;">
                <div class="col-auto px-0 number align-self-start">
                  <p class="text-center">01</p>
                </div>
                <div class="col p-0">
                  <div class="card-body p-0" style="height: 150px;">
                    <div class="trend-contents px-2">
                      <h2 class="card-title"><a href="#">News Needs to Meet Its Audiences Where They Are</a></h2>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3 col-12 numberd-card">
              <div class="row col-12" style="height: 100%;">
                <div class="col-auto px-0 number align-self-start">
                  <p class="text-center">02</p>
                </div>
                <div class="col p-0">
                  <div class="card-body p-0" style="height: 150px;">
                    <div class="trend-contents px-2">
                      <h2 class="card-title"><a href="#">News Needs to Meet Its Audiences Where They Are</a></h2>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3 col-12 numberd-card">
              <div class="row col-12" style="height: 100%;">
                <div class="col-auto px-0 number align-self-start">
                  <p class="text-center">03</p>
                </div>
                <div class="col p-0">
                  <div class="card-body p-0" style="height: 150px;">
                    <div class="trend-contents px-2">
                      <h2 class="card-title"><a href="#">News Needs to Meet Its Audiences Where They Are</a></h2>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3 col-12 numberd-card">
              <div class="row col-12" style="height: 100%;">
                <div class="col-auto px-0 number align-self-start">
                  <p class="text-center">04</p>
                </div>
                <div class="col p-0">
                  <div class="card-body p-0" style="height: 150px;">
                    <div class="trend-contents px-2" style="height: 100%;">
                      <h2 class="card-title"><a href="#">News Needs to Meet Its Audiences Where They Are</a></h2>
                      <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                        <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span
                            class="fa-solid fa-star"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <p>
              <a href="#" class="more">See All Popular<span class="fa-solid fa-angle-right"></span></a>
            </p>
        </div>
      </div>
    </div>

</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>